@font-face {
  font-family: 'Moderat-Black';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Black.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Black.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Black.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Black-Italic';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Black-Italic.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Black-Italic.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Black-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Bold';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Bold.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Bold.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Bold-Italic';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Bold-Italic.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Bold-Italic.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Bold-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Light';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Light.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Light.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Light.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Light-Italic';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Light-Italic.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Light-Italic.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Light-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Medium';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Medium.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Medium.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Medium-Italic';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Medium-Italic.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Medium-Italic.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Medium-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Regular';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Regular.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Regular.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Regular-Italic';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Regular-Italic.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Regular-Italic.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Regular-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Thin';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Thin.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Thin.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Moderat-Thin-Italic';
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Thin-Italic.eot');
  src: url('../../dist/fonts/Moderat-Family-Web/Moderat-Thin-Italic.woff2') format('woff2'),
  url('../../dist/fonts/Moderat-Family-Web/Moderat-Thin-Italic.woff') format('woff');
}