@charset "UTF-8";

@import "00-base/variables.scss";
@import "00-base/mixins.scss";
@import "00-base/utility-classes.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "00-base/type.scss";

@import "01-components/navigation";
@import "01-components/titles";
@import "01-components/entries";
@import "01-components/search-form";
@import "01-components/gallery";
@import "01-components/widgets";

@import "02-layout/front-page-1";
@import "02-layout/front-page-2";
@import "02-layout/front-page-3";
@import "02-layout/front-page-4";
@import "02-layout/front-page-5";

@import "02-layout/sidebar";

@import "02-layout/site-header";
@import "02-layout/site-custom-header";
@import "02-layout/site-footer";

@import "03-pages/front-page";
@import "03-pages/page-gallery";
@import "03-pages/page-test";

@import "04-themes/genesis";

@import "05-utils/dev-classes";


//.archive-description{
//  @extend .outlined;
//}

// This is used for instagram posts
.wrapper{
  max-width: 545px;
  display: block;
  margin: 0 auto;
}

// NEW TEST
.taxonomies {
  font-family: 'Lato';
  font-size: 90%;
  margin-bottom: 2rem;
}

.taxonomies a {
  font-weight: 600;
}

.wp-block-gallery.columns-1 {
  display: block !important;
  .blocks-gallery-item{
    //display: inline !important;
    width: 33.33%;
    margin: 0;
    padding: 10px;
    //width: 310px;
    display: inline;
    figure{
      margin: 0;
      display: inline;
    }
    //@include media-breakpoint-up(xl){
    //  width: 300px;
    //}
  }
}
//.grid-sizer{
//  width: 33.33%;
//}
//.wp-block-gallery.columns-1,
//.wp-block-gallery.columns-1 .blocks-gallery-item {
//  transition-duration: 0.7s;
//}
//
//.wp-block-gallery.columns-1 {
//
//  transition-property: height, width;
//}
//
//.wp-block-gallery.columns-1 .blocks-gallery-item{
//  transition-property: left, right, top;
//}



//
//.header-image .site-header {
//  padding: 13px 20px 0;
//}
//
//.header-image .site-title {
//  display: block;
//  text-indent: -9999px;
//}
//
//.header-image .site-title > a {
//  background-position: center center !important;
//  background-size: contain !important;
//  //float: left;
//  display: block;
//  //min-height: 70px;
//  min-height: 50px;
//  width: 240px;
//  margin: 0 auto;
//}


.custom-page-template{
  .site-inner{
    padding-top: 30px;
    margin-top: 0;
  }
  .featured-title-wrapper{
    @extend .container;
  }
}

//@mixin clearfix() {
//  &::after {
//    display: block;
//    content: "";
//    clear: both;
//  }
//}

// Usage as a mixin
//.clearfix {
//  @include clearfix;
//}

.before-blog.widget-area{
  border: solid thin $light;
  padding: 40px;
}
